<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<a th:href="@{/findAllUsers}">查询</a>
<table>
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>权限</td>
        <td>操作</td>
    </tr>
    <tr th:each="users:${user}">
        <td th:text="${users.getId()}"></td>
        <td th:text="${users.getUsername()}"></td>
        <td th:text="${users.getUserType()}"></td>
        <td><a th:href="@{/updateUser/}+${users.getId()}">修改</a> <a th:href="@{/deleteUser/}+${users.getId()}">删除</a>
        </td>
    </tr>


</table>
<span style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></span>
</body>
</html>