<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>doctor</title>
    <script src="../static/jquery-3.4.1.js"></script>


</head>
<body>
<a th:href="@{/findPatient/}+${username}">查询患者</a><br>

<table>
    <tr>
        <td>患者名字</td>
        <td>操作</td>
    </tr>
    <tr th:each="personal:${patients}">
        <td th:text="${personal.getPname()}"></td>
        <td><a th:href="@{/talk(username=${username},panme=${personal.getUsername()})}">对话</a></td>
    </tr>
</table>




</body>
</html>