<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>function</title>
    <script src="jquery-3.4.1.js"></script>


</head>
<body>


<a th:href="@{/findAllDoctor/}+${username}">查询医生</a>
<table>
    <tr>
        <td>名字</td>
        <td>科室</td>
        <td>操作</td>
    </tr>

    <tr th:each="person:${Doctor}">
        <td th:text="${person.getPname()}"></td>
        <td th:text="${person.getDepartment()}"></td>
        <td><a th:href="@{/Conversation/}+${username}">选择</a></td>
    </tr>
</table>

</body>
</html>